@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 750px;
  text-align: left;
}

h1 {
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  max-width: 450px;
}

h1 span {
  color: #009F55;
  border-bottom: 4px solid #009F55;
  padding-bottom: 6px;
  display: inline-block;
}

.display {
    width: 80%;
  background: white;
  color: #333;
  padding: 20px 26px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.display input {
    font-family: inherit;
  flex: 1;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: #333;
  background: transparent;
}

.display img {
  width: 30px;
  cursor: pointer;
  margin-left: 15px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009F55;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 16px 26px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  font-family: inherit;
}

button img {
  width: 28px;
  margin-right: 12px;
}

button:hover {
  background-color: #17a589;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }

  .display input {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 14px 20px;
  }

  button img {
    width: 24px;
    margin-right: 8px;
  }
}
